.navbar {
  background: #475d5b; 
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
  margin: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ffcc00; 
  text-decoration: underline;
}


@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar a {
      margin: 5px 0;
  }
}
